.blue-link {
    color: #03c3ca;
}

.media-nav-item {
    padding-left: 1rem;
    display: inline;
    font-size: 1.3rem;
}

@media (max-width: 700px) {
    .media-nav-item {
        padding-left: 0rem;
        display: block;
        padding-top: 1rem;
    }

    .first-item {
        padding-top: 0rem;
    }
}